body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#grid-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.grid-item {
  box-sizing: border-box;
}